body {
  margin: 0;
  padding: 0;
}

#hello {
  margin: 0 150px 0 150px;
}

header img {
  margin: 0;
  width: 1000px;
  text-align: center;
  border-top: 2.5px solid black;
}

header {
  font-family: 'Abril Fatface', cursive;
  color: #222;
  position: relative;
  margin: auto;
  width: 1000px;
  text-align: center;
}

h1 {
  font-size: 55px;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 35px;
  left: 225px;
}

h3 {
  font-size: 25px;
  margin: 0;
  padding: 0;
  text-align: left;
  position: absolute;
  bottom: 95px;
  left: 225px;
}

#CV {
  margin: 50px auto 50px auto;
  width: 1500px;
}

blockquote::before {
  content: '”';
  display: inline-block;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  vertical-align: super;
  position: absolute;
  top: -57.5px;
  left: 0;
  font-size: 200%;
  color: white;
}

blockquote {
  font-family: 'Abril Fatface', cursive;
  display: inline-block;
  background-color: #222;
  color: white;
  text-align: left;
  margin: 0 340px 0 340px;
  padding: 15px 35px;
  font-size: 250%;
  width: 610px;
  position: relative;
}

.paragraph {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 120%;
  line-height: 150%;
  color: #222;
  margin: 0 auto 50px auto;
  padding: 0;
  width: 750px;
  display: block;
}

.caption {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-style: italic;
  margin: 0 0 10px 0;
  letter-spacing: 0.2px;
}

h2 {
  text-transform: uppercase;
  margin: 50px 0 10px 0;
  font-size: 110%;
}

ul li {
  list-style-type: square;
  font-size: 78%;
}

#persint {
  margin-top: 40px;
  padding-top: 50px;
  padding-bottom: 30px;
  border-top: 5px solid black;
}

.subtitle {
  font-size: 117%;
  margin-bottom: 0;
}

.normalPara {
  font-size: 76.5%;
  margin: 25px 0;
}